.hide {
  opacity: 0;
}

.data-row {
  height: 10%;
}

.label-text {
  font-size: 1em;
}

.label-data {
  font-size: 2em;
  height: 100%;
  /* background-color: whitesmoke; */
}

.label-data-airport {
  font-size: 1.5em;
  height: 100%;
}

.label-input-field {
  font-size: 2em;
  height: 100%;
  text-align: center;
}

.label-input-field-airport {
  font-size: 1.5em;
  height: 100%;
  text-align: center;
}
